version: "3.8"
services:
    webserver:
        image: nginx:1.21.0
        ports:
            - 80:80
            - 443:443
        volumes:
            - ./:/usr/share/nginx/html
            - ./webserver/nginx.conf:/etc/nginx/nginx.conf
            - ./webserver/http.js:/etc/nginx/http.js
            - ./webserver/server.crt:/etc/nginx/server.crt
            - ./webserver/server.key:/etc/nginx/server.key
        depends_on:
          - gateway
    gateway:
        image: nginx:1.21.0
        ports:
            - 8000:80
        volumes:
            - ./gateway/nginx.conf:/etc/nginx/nginx.conf
