<template>
    <el-container>
        <el-aside width="200px">
            <el-menu :default-active="$route.path" router>
                <menu-item v-model="menus"></menu-item>
            </el-menu>
        </el-aside>
        <el-container>
            <el-header>
                <el-affix> 主导航 </el-affix>
            </el-header>
            <el-main>
                <slot></slot>
            </el-main>
            <el-footer>Footer</el-footer>
        </el-container>
    </el-container>
</template>
<script>
    export default {
        props: ["title"],
        data() {
            return {
                name: "Element Plus Demo",
                menus: [],
            };
        },
        mounted() {
            document.title = this.name + "|" + this.title;
            this.menus = this.init();
        },
        methods: {
            init() {
                fetch("/api/menu.json")
                    .then((o) => o.json())
                    .then((o) => (this.menus = o));
            },
        },
    };
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-plus@1.2.0-beta.3/dist/index.css" />
<style>
    body {
        margin: 0;
        padding: 0;
    }

    .el-container {
        width: 100vw;
        height: 100vh;
    }

    .el-aside {
        background-color: #000c17;
        min-height: 100%;
    }
</style>
<style>
    .el-menu {
        --el-menu-text-color: hsla(0, 0%, 100%, 0.65);
        --el-menu-active-color: #fff;
        --el-menu-background-color: #000c17;
        --el-menu-hover-background-color: #000c17;
        border-right:none;
    }

    .el-sub-menu {
        background-color: #001529;
    }

    .el-menu-item.is-active {
        background-color: #1890ff;
    }
</style>
