<template>
    <el-container>
        <el-aside>
            <logo :name="name" :logo="logo" :collapse="isCollapse"></logo>
            <el-menu :default-active="$route.path" :collapse="isCollapse" router>
                <menu-item v-model="menus"></menu-item>
            </el-menu>
        </el-aside>
        <el-container class="main">
            <el-header>
                <div @click="switchAside()"  style="cursor:pointer;display:inline-block;">
                    <icon :name="isCollapse?'fas fa-indent':'fas fa-outdent'" style="font-size:18px;margin:21px;"></icon>
                </div>
            </el-header>
            <el-main>
                <slot></slot>
                <el-footer><div style="text-align:center;"><p>{{copyright}}</p></div></el-footer>
                <el-backtop target=".el-main" :visibility-height="100" :bottom="60" :right="20"></el-backtop>
            </el-main>
        </el-container>
    </el-container>
</template>
<script>
    export default {
        props: ["title"],
        data() {
            return {
                name: "Element Plus",
                logo: '/logo.png',
                copyright:'Copyright © year Company',
                isCollapse: false,
                menus: [],
            };
        },
        mounted() {
            document.title = this.name + "|" + this.title;
            this.menus = this.init();
        },
        methods: {
            init() {
                fetch("/api/menu.json")
                    .then((o) => o.json())
                    .then((o) => (this.menus = o));
            },
            switchAside() {
                this.isCollapse = !this.isCollapse;
                return false;
            }
        },
    };
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-plus@1.2.0-beta.3/dist/index.css" />
<style>
    body {
        margin: 0;
        padding: 0;
    }

    .el-container.container {
        height: 100vh;
    }

    .el-aside {
        width: auto;
        background-color: #000c17;
    }
</style>
<style>
    .el-aside .el-menu {
        --el-menu-text-color: hsla(0, 0%, 100%, 0.65);
        --el-menu-active-color: #fff;
        --el-menu-background-color: #000c17;
        --el-menu-hover-background-color: #000c17;
        border-right: none;
    }

    .el-aside .el-sub-menu {
        background-color: #001529;
    }

    .el-aside .el-menu-item.is-active {
        background-color: #1890ff;
    }
</style>
<style>
    .el-header {
        padding: 0;
    }
</style>