<template>
    <template v-for="item in modelValue">
        <el-menu-item-group v-if="item.type&&item.type==='group'" :title="item.name">
            <menu-item v-model="item.children"></menu-item>
        </el-menu-item-group>
        <el-sub-menu v-else-if="item.children&&item.children.length">
            <template #title>
                <el-icon>
                    <icon :name="item.icon??subMenu"></icon>
                </el-icon>
                <span>{{item.name}}</span>
            </template>
            <menu-item v-model="item.children"></menu-item>
        </el-sub-menu>
        <el-menu-item v-else :index="item.path">
            <el-icon>
                <icon :name="item.icon??menuItem"></icon>
            </el-icon>
            <span>{{item.name}}</span>
        </el-menu-item>
    </template>
</template>
<script>
    export default {
        props: ["modelValue"],
        data(){
            return {
                 subMenu:'grid',
                 menuItem:'document'
            }
        }
    };
</script>