<template>
    <template v-for="item in modelValue">
        <el-menu-item-group
            v-if="item.type&&item.type==='group'"
        >
        <template #title>
            <icon :name="item.icon??'far fa-folder'"></icon>
            <span>{{item.name}}</span>
        </template>
            <menu-item v-model="item.children"></menu-item>
        </el-menu-item-group>
        <el-sub-menu
            v-else-if="item.children&&item.children.length"
            :index="item.key"
        >
            <template #title><icon :name="item.icon??'fas fa-th-large'"></icon><span>{{item.name}}</span></template>
            <menu-item v-model="item.children"></menu-item>
        </el-sub-menu>
        <el-menu-item v-else :index="item.key">
            <icon :name="item.icon??'far fa-circle'"></icon>
            <span>{{item.name}}</span>
        </el-menu-item>
    </template>
</template>
<script>
    export default {
        props: ["modelValue"],
    };
</script>