<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Layout Demo</title>
</head>

<body>
    <div id="root">
        <layout>
            <router-view />
        </layout>
    </div>
    <script type="importmap">
        {
            "imports": {
                "vue": "./js/vue-esm-browser.js",
                "vue-router": "./js/vue-router.esm-browser.js",
                "vue-browser-sfc":"./js/vue-browser-sfc.esm.js"
            }
        }
    </script>
    <script type="module" src="./main.js"></script>
</body>

</html>