<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>vue form demo</title>
</head>

<body>
    <div id="app">
        <form :title="schema.title" method="post">
            <div v-for="(value,key,index) in schema.properties">
                <label :for="getId(key)">{{value.title}}</label><input type="text" :id="getId(key)" :name="getName(key)"
                    v-model="model[key]" @keyup="valid(key)" />
            </div>
            <button type="submit">submit</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.22/dist/vue.global.js"></script>
    <script>
        const validator = {
            validProp(schemaKey, modelKey) {

            },
            valid() {

            }
        };
    </script>
    <script>
        const app = Vue.createApp({
            setup() {
                const schema = {
                    title: "表单",
                    properties: {
                        username: {
                            title: "用户名",
                            type: "string"
                        },
                        password: {
                            title: "密码",
                            type: "string",
                        }
                    }
                };
                const model = Vue.reactive({
                    username: "admin",
                    password: null,
                    errors: {
                        username: [
                            {
                                required: "{0} is required"
                            }
                        ]
                    }
                });
                return {
                    schema,
                    model,
                    getId(key) { return key; },
                    getName(key) { return key; },
                    valid(key) {
                        console.debug(model[key]);
                    }
                };
            }
        }
        ).mount('#app');
    </script>
</body>

</html>